body{
  background-color: #e0f9b5;
}
hr{
  border-color: grey;
  border-width: 8px;
  border-style: none none dotted none;
  width: 10%;

}
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
